* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(to right, #141E30, #243B55);
  color: white;
  text-align: center;
}


header {
  padding: 50px 20px;
}

.profile-pic {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 4px solid #ff9ecd;
  object-fit: cover;
}

header h1 {
  margin-top: 15px;
  font-size: 28px;
}

header p {
  color: #ffb6d9;
}




section {
  padding: 60px 20px;
}

h2 {
  margin-bottom: 20px;
  color: #ff9ecd;
}




.about p {
  max-width: 600px;
  margin: auto;
}


.gallery {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
  flex-wrap: nowrap;
  overflow-x: auto;
    padding: 10px 0;
    margin-top: 25px;
    scroll-behavior: smooth;
}



.img-card {
  background: #111;
  border: 1.5px solid #ff5fa2;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.3s;
  box-shadow: 0 0 10px rgba(255,95,162,0.25);

  width: 220px;
    margin: auto;
}

.img-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: block;
}

.img-card p {
  padding: 8px;
  color: #ffc1dc;
  font-size: 13px;
  text-align: center;
}



.img-card:hover {
  transform: translateY(-6px) scale(1.03);
  box-shadow: 0 0 25px rgba(255,95,162,0.6);
}
.img {
    
    margin-top: 63px;

}
